.we {
  margin-bottom: 0px;
   


}
.wee {
  margin-bottom: 0px;

  margin-left: 50px;
  padding: 10px;
  background-color: #39057d;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.list {
  display: flex;
  flex-direction: column;
  padding-left: 40%;
}
.title{
  margin-top: 50px;
  font-weight: 100;
}
.conect{
  font-weight: 300;
  background-color: rgb(38, 20, 20);
  color: white;
  width: 300px;
  padding: 5px;
  border-radius: 5px;
  margin-top: 60px;
  opacity: 0.6;
  text-align: center;
}
.icon{
  margin-right: 10px;
}
.conect:hover {
  opacity: 1.0;
}


@media screen and (max-width: 768px) {
  .we,
  .wee {
    margin: 0px;
    padding: 10px;
    background-color: #39057d;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    font-size: 15px;
    padding-left: 20px;
    border-radius: 0px;
  }

  .list {
    padding-left: 40px;
  }
  .dev {
    font-size: 15px;
   
  }
}
